{% extends "base.html" %}

{% block title %}Athlete Profile{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/athlete.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block body %}

<div id = "side-nav"></div>

<div class="data-table-container" id="past-sessions">
    <table class="data-table" id="past-sessions-table">

        <thead>
            <tr> 
                <th>Date</th>
                <th>Duration</th>
                <th>Event</th>
                <th>Description</th>
                <th>Coach Feedback</th>
            </tr>
        </thead>

        <tbody>
            {% for dict in past_events %}
            <tr>
                <td>{{ dict["date"] }}</td>
                <td>{{ dict["duration"] }}</td>
                <td>{{ dict["event"] }}</td>
                <td>{{ dict["description"] }}</td>
                <td>{{ dict["feedback"] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<script src="/static/js/athlete/athlete.jsx" type="text/babel"></script>
{% endblock %}