{% extends "base.html" %}

{% block title %}Athlete Profile{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/coach.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}

<div  class ="header">
    <h1 id ="header">Today's Sessions</h1>
</div>

<div id = "side-nav">
</div>

<div class="data-table-container" id="past-sessions-container" style = "display: none;"> 
    
    <table class="data-table" id="past-sessions-table">

        <thead>
            <tr> 
                <th>Date</th>
                <th>Duration</th>
                <th>Location</th>
                <th>Event</th>
                <th>Description</th>
                <th>Athlete</th>
                <th>Coach Feedback</th>
            </tr>
        </thead>

        <tbody>
            {% for dict in past_events %}
            <tr>
                <td>{{ dict["date"] }}</td>
                <td>{{ dict["duration"] }}</td>
                <td>{{ dict["location"] }}</td>
                <td>{{ dict["event"] }}</td>
                <td>{{ dict["description"] }}</td>
                <td>{{ dict["athlete"] }}</td>
                <td>{{ dict["feedback"] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

<div class="data-table-container" id="current-sessions-container"> 
    
    <table class="data-table" id="current-sessions-table">

        <thead>
            <tr> 
                <th>Date</th>
                <th>Duration</th>
                <th>Location</th>
                <th>Event</th>
                <th>Description</th>
                <th>Athlete</th>
            </tr>
        </thead>

        <tbody>
            {% for dict in current_events %}
            <tr>
                <td>{{ dict["date"] }}</td>
                <td>{{ dict["duration"] }}</td>
                <td>{{ dict["location"] }}</td>
                <td>{{ dict["event"] }}</td>
                <td>{{ dict["description"] }}</td>
                <td>{{ dict["athlete"] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
</div>

<div class="data-table-container" id="future-sessions-container" style="display: none;"> 
    
    <table class="data-table" id="future-sessions-table">

        <thead>
            <tr> 
                <th>Date</th>
                <th>Duration</th>
                <th>Location</th>
                <th>Event</th>
                <th>Description</th>
                <th>Athlete</th>
            </tr>
        </thead>

        <tbody id="future-body">
            {% for dict in future_events %}
            <tr>
                <td>{{ dict["date"] }}</td>
                <td>{{ dict["duration"] }}</td>
                <td>{{ dict["location"] }}</td>
                <td>{{ dict["event"] }}</td>
                <td>{{ dict["description"] }}</td>
                <td> {{ dict["athlete"] }} </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

<div id = "add-event-container" style = "display: none;">
    
    <form id = "date-selection-form" method = "GET">

        <div class="date-input-form">
            <label for="selected-start-date"><span class="asterisk">*</span>Start:</label>
            <input type="date" name ="selected-start-date" id="selected-start-date" required>
        </div>

        <div class="date-input-form">
            <label for="selected-end-date"><span class="asterisk">*</span>End:</label>
            <input type="date" name ="selected-end-date" id="selected-end-date" required>
        </div>
        
        <div id ="coach-form-submit-1">
            <input type="submit">
        </div>

    </form>

</div>

<div class="data-table-container" id="added-events-container" style="display: none;"> 
    
    <table class="data-table" id="added-events-table">

        <thead>
            <tr> 
                <th>Event</th>
                <th>Location</th>
                <th>Description</th>
                <th>Available Dates</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody id="added-events-body">
        </tbody>

    </table>

</div>

<script src="/static/js/coach/coach.jsx" type="text/jsx"></script>
<script src ="/static/js/coach/coach.js"></script>
{% endblock %}