{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}<link rel="stylesheet" href="/static/css/home.css"/>{% endblock %}

{% block body %}

<h1 id="home-title">GAINZ</h1>

<div class = "login-options">
    <div>
        <button class="options" id= "coaches">Coaches</button>
        <button class ="options" id= "new-coaches">New Coaches</button>
    </div>
    
    <div>
        <button class ="options" id= "athletes">Athletes</button>
        <button class="options" id = "new-athletes">New Athletes</button>
    </div>
</div>

<dialog coach-modal class="modal">
    <div class="modal-header" id="coach-modal-header">
        <div class="modal-title" id="coach-modal-title">Coach Login</div>
        <button coach-modal-closer class="closer">&times;</button>
    </div>
    <div>
        <form id="coach-form" action ="/coach_login/json" method="POST" onsubmit="return handleCurrentAccountFormSubmission(event, 'coach-form');">
            <label for = "coach-username">Username:</label>
            <input type="text" id="coach-username" name = "coach-username">
            <label for = "coach-password">Password:</label>
            <input type="password" id="coach-password" name ="coach-password">
            <input Type ="submit">
        </form>   
    </div>
</dialog>

<dialog new-coach-modal class="modal">
    <div class="modal-header" id="new-coach-modal-header">
        <div class="modal-title" id="new-coach-modal-title">New Coach Account</div>
        <button new-coach-modal-closer class="closer">&times;</button>
    </div>
    <div>
        <form id="new-coach-form" action ="/new_coach_account/json" method="POST" onsubmit="return handleNewAccountFormSubmission(event , 'new-coach-form');">
            <label for = "new-coach-fname"><span class="asterisk">*</span>First Name:</label>
            <input type="text" id="new-coach-fname" name = "new-coach-fname" required>
            <label for = "new-coach-lname"><span class="asterisk">*</span>Last Name:</label>
            <input type="text" id="new-coach-lname" name = "new-coach-lname" required>
            <label for = "new-coach-username"><span class="asterisk">*</span>Username:</label>
            <input type="text" id="new-coach-username" name = "new-coach-username" required>
            <label for = "new-coach-email"><span class="asterisk">*</span>Email:</label>
            <input type="email" id="new-coach-email" name = "new-coach-email" required>
            <label for = "new-coach-password"><span class="asterisk">*</span>Password:</label>
            <input type="password" id="new-coach-password" name ="new-coach-password" required>
            <input Type ="submit">
        </form>
</div>
</dialog>

<dialog athlete-modal class="modal">
    <div class="modal-header" id="athlete-modal-header">
        <div class="modal-title" id="athlete-modal-title">Athlete Login</div>
        <button athlete-modal-closer class="closer">&times;</button>
    </div>
    <div>
        <form id="athlete-form" action ="/athlete_login/json" method="POST" onsubmit="return handleCurrentAccountFormSubmission(event, 'athlete-form');">
            <label for = "athlete-username">Username:</label>
            <input type="text" id="athlete-username" name = "athlete-username">
            <label for = "athlete-password">Password:</label>
            <input type="password" id="athlete-password" name ="athlete-password">
            <input Type ="submit">
        </form>
    </div>
</dialog>

<dialog new-athlete-modal class="modal">
    <div class="modal-header" id="new-athlete-modal-header">
        <div class="modal-title" id="new-athlete-modal-title">New Athlete Account</div>
        <button new-athlete-modal-closer class="closer">&times;</button>
    </div>
    <div>
        <form id = "new-athlete-form" action ="/new_athlete_account/json" method="POST" onsubmit ="return handleNewAccountFormSubmission(event, 'new-athlete-form');" >
            <label for = "new-athlete-fname"><span class="asterisk">*</span>First Name:</label>
            <input type="text" id="new-athlete-fname" name = "new-athlete-fname" required>
            <label for = "new-athlete-lname"><span class="asterisk">*</span>Last Name:</label>
            <input type="text" id="new-athlete-lname" name = "new-athlete-lname" required>
            <label for = "new-athlete-username"><span class="asterisk">*</span>Username:</label>
            <input type="text" id="new-athlete-username" name = "new-athlete-username" required>
            <label for = "new-athlete-email"><span class="asterisk">*</span>Email:</label>
            <input type="email" id="new-athlete-email" name = "new-athlete-email" required>
            <label for = "new-athlete-password"><span class="asterisk">*</span>Password:</label>
            <input type="password" id="new-athlete-password" name ="new-athlete-password" required>
            <input Type ="submit">
        </form>
</div>
</dialog>

<script src="/static/js/home.js"></script>

{% endblock %}